<%= @post.title %>
<% @post.categories.each do |category|%>
<%=category.name %>
<%end%>
<%= @post.content %>

<% @post.comments.each do |comment| %>
<%= comment.user.username %> says:
<%= comment.content %>
<%end%>

<ul>
<% @post.users.distinct.each do |user| %>
<li>
    <%= link_to user.username, user_path(user) %>
</li>
<%end%>
</ul>
<h2>Comments:</h2>
<%= form_for @post.comments.build do |f| %>
<%= f.hidden_field :post_id, value: @post.id %>
<%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %>

<%= f.fields_for :user, User.new do |fields| %>
<%= fields.label :username %>
<%= fields.text_field :username %>
<%end%>

<%= f.label :content, "New Comment" %><br>
<%= f.text_area :content %>

<%= f.submit %>
<% end %>